*{
    padding: 0;
    margin: 0;
}
header{
    background-color: rgba(35,28,26,0.7);
    height: 80px;
    width: 100%;
    position: fixed;
}
h1{
    color: white;
    position: absolute;
    left:120px;
    top:0;
    line-height: 80px;
}
header ul{
    position: absolute;
    right: 5vw;
    top:0;
    line-height: 80px;
}
header li{
    display: inline;
    margin-right: 4vw;
}
header a{
    color: white;
    text-decoration: none;
}
header a:hover{
    text-decoration: underline;
}
.news{
    background-color: antiquewhite;
    color: white;
    height: 100vh;
    background-image: url(./img/02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.news h2{
    font-size: 60px;
    margin-top: 60px;
}
.news p{
    color:rgb(183, 204, 234);
    font-size: 18px;
    margin:25px 0;
}




footer{
    background-color: rgb(0, 0, 0);
    color: #b7b7b7;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
